alembic==1.14.1
asyncpg==0.30.0
fastapi==0.115.7
psycopg2-binary
pydantic==2.10.6
ruff==0.9.3
sqlalchemy==2.0.37
uvloop==0.21.0
uvicorn
debugpy
pydantic-settings==2.8.1
python-jose[cryptography]
bcrypt
passlib
jose
PyJWT
python-multipart
orjson